
  Co-positioning


      From Libre Graphics Lab

Jump to: navigation <#column-one>, search <#searchInput>

Collective Co-positioning was a worksession in the context of the Tools
Series, organised by Baltan Laboratories:

        "/The Tools series examines the complex and changing
        relationships artists and designers have with the technologies
        and tools they develop, modify or use to create ... We also
        examine the role of the lab in supporting the creation of,
        access to and sharing of knowledge about these tools./"
        http://www.baltanlaboratories.org/?p=3191 

We worked for a day in the Van Abbe Museum studio on making a start with
the Co-position research. More about the co-position research here
</lab/wiki/index.php/Co-position>. Invitation sent out to the participants:

        Dear participant in the co-position worksession, dear therefore
        co-researcher, 

        Welcome to co-position! For the worksession at Baltan, we would
        like you to bring a 'spatial arrangement of texts and other
        graphical elements'. By this we mean a poster, lay-out, design,
        or just a part of it, that you have made or would have liked to
        have made. The sample(s) you bring can be completely trivial,
        various, unfinished or imaginary but please do not forget it!
        We'll use the analysis of these concrete cases as a way to think
        form practice about the missing vocabulary of lay-out. An image
        or scan of these samples will be useful to be able to work with
        in multiple ways. 

        We are much looking forward to work with you on Wednesday in
        Eindhoven! 

        Greetings from the co-position team: Ana, Ricardo, John, Pierre 

Eventually, we formed three groups that each chose their own samples
from the specimens collection and method of analysis.


    Contents

[hide <javascript:toggleToc()>]

  * 1 Possible approaches to the collection
    <#Possible_approaches_to_the_collection>
  * 2 Specimens <#Specimens>
  * 3 Team Research <#Team_Research>
  * 4 Discussion Summary <#Discussion_Summary>
  * 5 Photos <#Photos>
  * 6 Schedule <#Schedule>


    Possible approaches to the collection

 1. Source text vs. rendered text: How is the relation between
    characters and glyphs effecting lay-out tools? What is the relation
    between author and designer?
 2. Elements: What elements matter? Container, space, margin or padding?
    What is in a name?
 3. Projections: Does the page need to be the first reference? What
    other perspectives can we think of? Gravity, distance, center,
    measurement, scale.
 4. Process, action: speaking from process about lay-out. Relations,
    movement, tension.
 5. Construction vs. presentation: How the technical, physical
    constraints define lay-out vs. presentational constraints. 


    Specimens

Here are the specimens </lab/wiki/index.php/Specimens> we worked with.


    Team Research

  * Team A (Pierre, Ana, Gijs, Eric de H.): Reverse-design
    </lab/wiki/index.php/Reverse-design>
  * Team B (Femke, Ricardo, Tauras): Projections
    </lab/wiki/index.php/Projections>
  * Team C (Silvia, John, Eric S): Constraints and processes
    </lab/wiki/index.php/TeamC> 


    Discussion Summary


    Photos

IMG 5997.JPG </lab/wiki/index.php/File:IMG_5997.JPG>
	
IMG 6008.JPG </lab/wiki/index.php/File:IMG_6008.JPG>
	
IMG 6011.JPG </lab/wiki/index.php/File:IMG_6011.JPG>
	
IMG 6013.JPG </lab/wiki/index.php/File:IMG_6013.JPG>
IMG 6014.JPG </lab/wiki/index.php/File:IMG_6014.JPG>
	
IMG 6022.JPG </lab/wiki/index.php/File:IMG_6022.JPG>
	
IMG 6034.JPG </lab/wiki/index.php/File:IMG_6034.JPG>


    Schedule

10:00 *Introductions*

11:30 *Building collection, scanning*

12:30 *Lunch*

13:30 *Analysis, notations*

15:00 *Re-passing, re-documenting*

16:30 - 17:00 *Discussion*

19:00 *Presentation Baltan Tools series, LGRU etc.*

21:00 *end*

Retrieved from
"http://ospublish.constantvzw.org/lab/wiki/index.php/Co-positioning"


          Views

  * Page </lab/wiki/index.php/Co-positioning>
  * Discussion
    </lab/wiki/index.php?title=Talk:Co-positioning&action=edit&redlink=1>
  * View source </lab/wiki/index.php?title=Co-positioning&action=edit>
  * History </lab/wiki/index.php?title=Co-positioning&action=history>


          Personal tools

  * Log in
    </lab/wiki/index.php?title=Special:UserLogin&returnto=Co-positioning>

</lab/wiki/index.php/Main_Page>


          Navigation

  * Welcome </lab/wiki/index.php/Main_Page>
  * About LGRU </lab/wiki/index.php/Projectdescription>
  * Reader </lab/wiki/index.php/Reader>
  * Networked graphics </lab/wiki/index.php/Networked_graphics>
  * Co-position </lab/wiki/index.php/Co-position>
  * Piksels and lines </lab/wiki/index.php/Piksels_and_lines>
  * Abstracting craft </lab/wiki/index.php/Abstracting_craft>
  * Calendar </lab/wiki/index.php/Calendar>
  * Contact </lab/wiki/index.php/Contact>
  * Recent changes </lab/wiki/index.php/Special:RecentChanges>


          Search

 


          Toolbox

  * What links here
    </lab/wiki/index.php/Special:WhatLinksHere/Co-positioning>
  * Related changes
    </lab/wiki/index.php/Special:RecentChangesLinked/Co-positioning>
  * Special pages </lab/wiki/index.php/Special:SpecialPages>
  * Printable version
    </lab/wiki/index.php?title=Co-positioning&printable=yes>
  * Permanent link </lab/wiki/index.php?title=Co-positioning&oldid=2027>

Powered by MediaWiki <http://www.mediawiki.org/>
GNU Free Documentation License 1.3 <http://www.gnu.org/copyleft/fdl.html>

  * This page was last modified on 10 October 2011, at 09:49.
  * This page has been accessed 994 times.
  * Content is available under GNU Free Documentation License 1.3
    <http://www.gnu.org/copyleft/fdl.html>.
  * Privacy policy </lab/wiki/index.php/Libre_Graphics_Lab:Privacy_policy>
  * About Libre Graphics Lab </lab/wiki/index.php/Libre_Graphics_Lab:About>
  * Disclaimers </lab/wiki/index.php/Libre_Graphics_Lab:General_disclaimer>

